;;;; Athens example configuration.

:database (:host "localhost"
           :port 5432 ; Optional, defaults to 5432.
           :user "postgres"
           :password "password"
           :name "athens" ; Optional, defaults to "athens".
           :use-ssl :yes) ; Optional, defaults to :NO.

:feed (:pull-interval 3600 ; Optional, defaults to one hour (in seconds).
       :concurrent-requests 10 ; Optional, defaults to 10.
       :request-timeout 5) ; Optional, defaults to five seconds.

:server (:host "localhost" ; Optional, defaults to "localhost".
         :port 8000 ; Optional, defaults to random port.
         :n-responders 8 ; Optional, defaults to 1.
         :socket-arguments (:keepalive t)) ; Optional, defaults to nil.
